API2D_FORWARD_KEY=
API2D_BASE_URL=https://openai.api2d.net/v1/chat/completions
CHAT_MODEL=gpt-4o-mini

GPT_SOVITS_ROOT=/workspace/GPT-SoVITS
GPT_SOVITS_CONFIG=/workspace/GPT-SoVITS/GPT_SoVITS/configs/tts_infer.yaml
GPT_SOVITS_VERSION=v2ProPlus
SOVITS_WEIGHTS_PATH=/runpod-volume/segments_ft_trainval_e15_s840.pth
T2S_WEIGHTS_PATH=/runpod-volume/s1v3.ckpt
REF_AUDIO=/runpod-volume/newclip.wav
PROMPT_TEXT=cp都是比较经典的学习这种全局上下文的我记得他们没有说是真专门说针对小目标的这种问题。
